In [2]:
import osmnx as ox, networkx as nx, matplotlib.cm as cm, pandas as pd, numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import geopandas as gpd
import functools
import community

from scipy import sparse
from scipy.sparse import linalg
import time
from shapely.geometry import Point, LineString, Polygon, MultiPolygon, mapping
from math import sqrt
import pandas as pd
from shapely.ops import cascaded_union
pd.set_option('precision', 10)

In [7]:
POI = gpd.read_file('C:/Users/gabri/sciebo/GIS Data/Boston_OSM')

In [13]:
POI.head()

,osm_id,name,type,geometry
0,17660188,46,university,"POLYGON ((-71.0918336 42.3626834, -71.0906942 ..."
1,24493980,18 Camille Edouard Dreyfus Building,university,"POLYGON ((-71.0901391 42.3603804, -71.0897956 ..."
2,24493983,54 Green Building,university,"POLYGON ((-71.08956329999999 42.3603152, -71.0..."
3,24494019,Stratton Student Center,university,"POLYGON ((-71.0953289 42.3590857, -71.0944374 ..."
4,24494029,Kresge Auditorium,university,"POLYGON ((-71.09502860000001 42.3583942, -71.0..."

In [22]:
list(POI['type'].unique())

['university',
 'service',
 'subway_entrance',
 'dormitory',
 'stadium',
 'museum',
 'club_house',
 'hotel',
 'apartments',
 'school',
 'library',
 'hospital',
 'place_of_worship',
 'civic',
 'fire_station',
 'castle',
 'restaurant',
 'doctors',
 'bank',
 'courthouse',
 'commercial',
 'station',
 'garage',
 'retail',
 'roof',
 'industrial',
 'church',
 'storage_tank',
 'gallery',
 'parking',
 'fast_food',
 'theatre',
 'public_building',
 'office',
 'attraction',
 'pharmacy',
 'cafe',
 'cathedral',
 'post_office',
 'silo',
 'guest_house',
 'public',
 'fuel',
 'shed',
 'construction',
 'dentist',
 'bar',
 'college',
 'aquarium',
 'toilets',
 'foundation',
 'research',
 'pub',
 'townhall',
 'commercial;educa',
 'convent',
 'bus_station',
 'Commercial',
 'clinic',
 'picnic_site',
 'hut',
 'police',
 'factory',
 'monument',
 'shop',
 'cinema',
 'hostel',
 'supermarket',
 'veterinary',
 'rectory',
 'information',
 'exhibition_centr',
 'kindergarten',
 'smokestack',
 'train_station',
 'greenhouse',
 'general aviation',
 'viewpoint',
 'atm',
 'building',
 'books',
 'gatehouse',
 'canopy',
 'embassy',
 'terrace',
 'tower',
 'arts_centre']

In [9]:
rem = ['r','chimney','yes','bridge','shelter','Yes','','residential','house']

In [21]:
for i in rem: POI = POI[POI['type'] != i]

In [19]:
POI = POI.to_crs(epsg=2806) #Boston, MA

In [25]:
POI.to_file('Outputs/POI_boston.shp', driver='ESRI Shapefile')

In [73]:
points = pd.read_csv("C:/Users/gabri/Google Drive Academic/poi.csv",sep='|', dtype={'PointX Classification Code': str})

In [74]:
slim = points[['Feature Easting','Feature Northing','Reference Number','PointX Classification Code']].copy()

In [75]:
slim['main_class']= slim['PointX Classification Code'].str[:2]
slim['second_class']= slim['PointX Classification Code'].str[2:4]

In [76]:
main = {"01": "Accommodation, eating and drinking", "02": "Commercial services", "03": "Attractions", 
        "07": "Manufacturing and production", "04": "Sport and entertainment", "05": "Education and health", 
        "06": "Public infrastructure", "09": "Retail", "10" : "Transport"}

In [77]:
main_df = pd.DataFrame.from_dict(main, orient='index')

In [78]:
second = pd.read_csv("C:/Users/gabri/Google Drive Academic/POI_class.csv", dtype={'code': str})

In [94]:
slim.head()

,Feature Easting,Feature Northing,Reference Number,PointX Classification Code,main_class,second_class
0,"529,809.00","181,784.00",129889387,03200269,03,20
1,"530,161.00","182,314.00",127055413,03200269,03,20
2,"528,894.00","181,577.00",124111008,03200269,03,20
3,"532,431.00","180,940.00",124112162,03200269,03,20
4,"529,335.00","180,927.00",124112390,03200269,03,20

In [80]:
POI_tmp = pd.merge(slim, main_df, left_on='main_class', right_index=True, how='left')

In [81]:
POI_df = pd.merge(POI_tmp, second, left_on='second_class', right_on='code', how='left')

In [82]:
POI_df.rename(columns={0: 'main', 'class': 'second'}, inplace=True)

In [83]:
POI_df.drop('code', axis=1,inplace=True)

In [96]:
geometry[0]

In [85]:
crs = {'init': 'epsg:27700'}
geometry = [Point(xy) for xy in zip(POI_df['Feature Easting'], POI_df['Feature Northing'])]

In [86]:
POI_geo = gpd.GeoDataFrame(POI_df, crs=crs, geometry=geometry)

In [97]:
POI_geo.to_file('Outputs/POI.shp', driver='ESRI Shapefile')